# ==============================================================================
# Paylabs VA Desktop Configuration Template
# ==============================================================================

# Port pengembangan frontend (opsional)
VITE_DEV_PORT=1420
